@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the C2C application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This application runs on <a href="https://sarmadjari-c2c.northeurope.azurecontainer.io/">Azure</a></p>
    <p>This application runs on <a href="http://63.32.94.226/">AWS</a>.</p>
</div>
