@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the C2C application</h1>
    <p>This is a containerized application running on multiple public clouds.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This application runs on <a href="http://c2c.az.sarmad.cloud/">Azure</a></p>
    <p>This application runs on <a href="http://c2c.aws.sarmad.cloud/">AWS</a>.</p>
     <p><a href="https://github.com/sarmadjari/c2c">C2C on Github</a>.</p>
</div>
